services:
  db:
    image: postgres:15
    container_name: hrbot_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - '${POSTGRES_HOST_PORT:-5433}:5432'
    volumes:
      - pgdata:/var/lib/postgresql/data

  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hrbot_app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - db
    command: ['python', 'main.py']
    volumes:
      - ./:/app

volumes:
  pgdata:
